/* make header section dark */
.header,
.hiddenOnDesktop {
  background-color: black;
  color: white;
}

/* styling for tab labels */
.hiddenOnDesktop {
  text-align: center;
  cursor: pointer;
}
.activeTabLabel {
  text-decoration: underline;
}

/***** mobile phones *****/
@media (max-width: 768px) {
  .hiddenWhenTabInactive {
    display: none;
  }

  .appContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header-area header-area" "tab1-area tab2-area" "content-area content-area";
  }

  .header {
    grid-area: header-area;
  }

  .hiddenOnDesktop {
    grid-area: tab1-area;
  }

  .hiddenOnDesktop ~ .hiddenOnDesktop {
    grid-area: tab2-area;
  }

  .predictions {
    grid-area: content-area;
  }

  .stages {
    grid-area: content-area;
  }
}

/***** desktop *****/
@media only screen and (min-width: 768px) {
  .hiddenOnDesktop {
    display: none;
  }
}
