/***** mobile phones *****/
@media (max-width: 768px) {
  .hiddenWhenTabInactive {
    display: none !important;
  }
  .tabContent {
    height: 100%;
  }
}

/***** desktop *****/
@media only screen and (min-width: 768px) {
  .hiddenOnDesktop {
    display: none !important;
  }
}
